:root {
    --black: #111; --green: #57d181; --orange: #f4ac41; --red: #f45041; --blue: #41b5f4; --white: #c4c4c4; --header-background-color: #f4ac4190; --theme-background-color: #000; --theme-box-bg: #323232; --theme-box-txt: #c4c4c4; --theme-a-color: #f4ac41; --theme-a-color-hover: #f45041 }

.clearfix:after {
    visibility: hidden;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    display: none
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin-left: 30px;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    width: 100%;
    font-family: bubbler one;
    background: #111 url(../images/background.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

a {
    text-decoration: none;
    color: var(--theme-a-color)
}

a:hover {
    color: var(--theme-a-color-hover) text-decoration: none;
}

.blur {
    filter: blur(3px)
}

.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--header-background-color);
    color: var(--black);
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

.intro h1 {
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
}

#main {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: var(--black)
}

.container {
    color: var(--theme-box-txt);
    overflow: hidden;
    font-size: 18px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 5px
}

.about-me {
    text-align: center;
    margin: 15px 0 50px;
    color: var(--orange);
}

.about-me p {
    margin: 0px;
}

body {
    font-family: sans-serif;
}

.pad-vertical {
    padding: 75px 0;
}

.ms-line {
    padding: 0px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.ms-line:hover {
    transform: scale(1.18);
    border: 3px solid var(--orange);
    border-radius: 100%;
    box-shadow: 0px 0px 30px var(--red);
    animation-name: fadecolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fadecolor {
    0% {
        border-color: var(--orange);
        box-shadow: 0px 0px 30px var(--orange);
    }

    50% {
        border-color: var(--red);
        box-shadow: 0px 0px 30px var(--red);
    }

    100% {
        border-color: var(--orange);
        box-shadow: 0px 0px 30px var(--orange);
    }
}

.ms-mid {
    background-color: #222;
    border-radius: 100%;
    width: 90%;
    height: 90%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    position: absolute;
}

.ms-mid i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    font-size: 35px;
    margin: auto;
    color: #FFFFFF;
    text-align: center;
}

.ms-mid img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    margin: auto;
}

.ms-container {
    padding: 50px 0;
    text-align: center;
}

.ms-container h2 {
    font-size: 24px;
    padding-top: 15px;
    color: var(--orange);
}

.ms-container p {
    font-size: 20px;
    padding-top: 15px;
}

.back-btn a {
    color: var(--orange);
    font-weight: normal;
    position: fixed;
    bottom: 5px;
    background-color: var(--black);
    border-radius: 20px;
    width: 120px;
    text-align: center;
}

.back-btn a:hover {
    color: var(--black);
    text-decoration: none;
    background-color: var(--red);
}

@media screen and (max-width: 1332px) {
    #main {
        font-size:25px
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display:none
    }

    .topnav a.icon {
        float: right;
        display: block
    }

    .topnav.responsive {
        position: relative
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left
    }

    #main {
        font-size: 16px;
        margin-left: 15px
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top:15px
        }

        .sidenav a {
            font-size: 18px
        }
    }
}

#main {
    background-color: transparent
}

