:root {
    --black: #111;
    --green: #57d181;
    --orange: #f4ac41;
    --red: #f45041;
    --blue: #41b5f4;
    --white: #c4c4c4;
    --body-background-color: #1119;
    --header-background-color: #f4ac4190;
}

#knowledge-experience {
    background: var(--body-background-color);
    width: 100%;
    padding: 1rem 0 1rem 0;
}

#knowledge-experience a {
    color: var(--white);
}

#libraries {
    background: var(--body-background-color);
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin-bottom: 4rem;
}

#libraries a:hover {
    color: var(--red);
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 2rem;
}

li::before {
  content: ">";
  padding-right: 8px;
  color: var(--orange);
}

.section-separator {
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    border: 1px solid #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.p-name {
  font-size: 16px;
}

.p-desc {
  font-size: 16px;
}


#knowledge-experience > ul, li {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  line-height: 16px !important;
}