:root {
    --header-background-color: #f4ac4190;
    --red: #f45041;
    --black: #111;
    --white: #c4c4c4;
    --dark-gray: #292929;
}

.projects {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 900px;
    height: 300px;
}

.main_box {
    width: 250px;
    height: 300px;
    margin-left: 25px;
    float: left;
    position: relative;
    border: 1px solid var(--orange);
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px var(--black);
    transition: all 200ms;
    background-color: var(--dark-gray);
}

.box-img {
    width: 100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    border: 3px solid var(--black);
}

#ferchy {
}

#ferchymusic {
}

#pwebsite {
}

.main_box:before, .main_box:after {
    content: ' ';
    position: absolute;
    left: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20%;
    border-left: 1px solid var(--orange);
    width: 1px;
    transition: all 500ms;
    opacity: 0;
}

.main_box:after {
    right: 15px;
    left: auto;
}

.main_box:hover {
    box-shadow: 18px 17px 10px -10px #000;
}

.main_box:hover:after, .main_box:hover:before {
    height: 83%;
    opacity: 1;
}

.main_box .sub_box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main_box .sub_box:before, .main_box .sub_box:after {
    content: ' ';
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: auto;
    height: 1px;
    border-top: 1px solid var(--orange);
    width: 20%;
    transition: all 500ms;
    opacity: 0;
}

.main_box .sub_box:after {
    bottom: 15px;
    top: auto;
}

.main_box .sub_box:hover:after, .main_box .sub_box:hover:before {
    width: 83%;
    opacity: 1;
}

.main_box .sub_box table {
    height: 100%;
    width: 100%;
}

.main_box .sub_box p {
    color: #fff;
    text-align: center;
    font-size: 28px;
    transition: all 1s;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

.main_box .sub_box p.subtitle {
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 10px;
    padding: 0;
}

.main_box .sub_box p.date {
    color: var(--orange);
    font-size: 11px;
    line-height: 13px;
    margin: 0;
    padding: 0;
}

