:root {
    --red: #ff8585;
    --pink: #ffadad;
    --orange: #FFD6A5;
    --yellow: #fdffb6;
    --green: #caffbf;
    --cyan: #9bf6ff;
    --blue: #a0c4ff;
    --purple: #bdb2ff;
    --violet: #ffc6ff;
    --white: #fffffc;
    --black: #111111;

    --primary-color: var(--red);
    --secondary-color: var(--orange);
    --basic-text-color: var(--white);
    --primary-bg-color: #111111;
    --secondary-bg-color: #1d1d1d;
    --home-background-image: url(../img/bg1-small.jpg);

    --navbar-height: 3rem;
    --navbar-font-size: 1.5rem;
    --navbar-bg-color: rgba(18,18,18,0.7);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
}

/* SECTION GENERAL CSS */
.section{
    font-size: 2rem;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* HEADER */
#header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    font-size: var(--navbar-font-size);
    background-color: var(--navbar-bg-color);
    z-index: 9;
    padding: 0 1rem;
    transition: ease-in 0.5s;
}

#header * {
    display: inline-block;
}

#header .h-title {
    text-align: left;
    color: var(--primary-color);
    text-decoration: none;
}

#header ul {
    float: right;
}

#header a {
    transition: ease-in 0.2s;
    text-decoration: none;
    color: var(--basic-text-color);
    padding: 0 0.25rem;
}

#header li:hover a {
    color: var(--primary-color);
}

#header .link-text {
    transition: ease-in 0.1s;
    font-size: 0;
    display: inline;
    color: var(--primary-color);
}

/* HOME SECTION */
#home { background-image: var(--home-background-image); }
#home .main-text { color: var(--basic-text-color); }

#home .studies > div {
    color: var(--primary-color);
    font-size: 1.5rem;
    display: block;
}

#goDown {
    position: fixed;
    bottom: 5%; left: 50%;
    font-size: 3rem;
    margin-left: -1.5rem;
    transition: ease-in 0.2s;
    animation: bounce 1000ms linear infinite both;
    color: var(--basic-text-color);
}

#goDown:hover {
    color: var(--primary-color);
}

/* MAIN SECTION */
#main {
    color: var(--basic-text-color);
    padding-top: var(--navbar-height);
}

#projects > h2 {
    border-bottom: 1px solid var(--white);
    margin: 0 auto; padding: 0.5rem;
    font-size: 2rem;
    max-width: 95%;
}

#projects > .project {
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    display: inline-block;
    margin: 2.5rem; padding: 0.5rem 1rem;
    overflow: hidden;
}

#projects > .project > * {
    display: block;
}

#projects > .project > p.title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

#projects > .project > p.desc {
    font-size: 1rem;
}

#projects > .project > a.code {
    text-decoration: none;
    color: var(--black);
    height: 2rem; width: fit-content;
    font-size: 20px; line-height: 2rem;
    padding: 0 1rem;
    margin: 1rem auto 0.5rem auto;
    background-color: var(--white);
    border-radius: 4px;
}

#projects > .project > a.code:hover {
    color: var(--basic-text-color);
    background-color: var(--black);
}

#projects > .project > img {
    max-width: 20rem;
    margin: 1rem auto 0 auto;
    border-radius: 4px;
}

#experience {
    margin: 2.5rem;
}

#experience > h2 {
    border-bottom: 1px solid var(--white);
    margin: 0 auto 2.5rem auto; padding: 0.5rem;
    font-size: 2rem;
    max-width: 95%;

}

#experience > a.exp {
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    margin: 0.5rem; padding: 1rem;
    display: inline-block;
    width: 10rem; height: 10rem;
    transition: .5s;
    text-decoration: none;
}

#experience > a.exp:hover {
    transform: scale(1.1);
}

#experience > a.exp:hover > i {
    color: var(--primary-color);
}

#experience > a.exp > i {
    font-size: 4rem;
    color: var(--secondary-color);
}

#experience > a.exp > p.title {
    position: relative;
    bottom: 0; left: auto;
    font-size: 1.5rem;
    color: var(--basic-text-color);
    white-space: nowrap;
}

/* @MEDIA TAGS */
@media(min-width: 550px) {
    #header li:hover a > span.link-text {
        font-size: var(--navbar-font-size);
    }
}

@media(max-width: 600px) {
    .section {
        font-size: 1.5rem;
    }

    #home .studies {
        display: none;
    }
    
}

@media(max-width: 450px) {
    .section {
        font-size: 1rem;
    }

    #projects > .project > p.desc {
        font-size: 0.9rem;
    }
    
    #projects > .project > a.code {
        font-size: 0.8rem;
    }

    #projects > .project > img {
        max-width: 19rem;
    }
}

@media(max-width: 430px) {
    #header .h-title {
        display: none;
    }

    #projects > .project > p.title {
        font-size: 1.5rem;
    }

    #projects > .project > p.desc {
        font-size: 0.8rem;
    }
    
    #projects > .project > a.code {
        font-size: 0.7rem;
    }

    #projects > .project > img {
        max-width: 15rem;
    }

    #experience > a.exp {
        width: 7rem; height: 7rem;
    }

    #experience > a.exp > p.title {
        font-size: 0.9rem;
    }

    #experience > a.exp > i {
        font-size: 2.2rem;
    }
}

@keyframes bounce { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.5% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 8.939, 0, 1); }
    9.01% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.991, 0, 1); }
    15.32% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 9.007, 0, 1); }
    21.52% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.797, 0, 1); }
    34.03% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.451, 0, 1); }
    46.55% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.107, 0, 1); }
    59.06% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.078, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.icon-eclipse:before {
    content: "\e900";
}