:root {
    --body-background-color: #1119;
    --header-background-color: #f4ac4190;
    --red: #f45041;
    --black: #111;
    --white: #c4c4c4;
    --box-text-color: #323232;
    --box-color: #c4c4c4;
}

#main {
    all: initial;
    all: unset;
}

h1, h2, h3 {
    margin: 0;
    text-align: center;
    color: var(--black);
}

h1 {
    font-size: 1.5rem;
}

p {
    color: var(--box-text-color);
}

a {
    color: var(--box-text-color);
    font-weight: bold;
}

a:hover {
    color: var(--red);
}

.page-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#intro-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--header-background-color);
    color: var(--black);
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

#intro-header h1 {
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
}

#intro {
    background: var(--body-background-color);
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin-bottom: 4rem;
    text-align: center;
}

#intro p {
    color: var(--white);
    padding-left: 15%;
    padding-right: 15%;
}

.section-separator {
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    border: 1px solid #fff;
}

#chronology-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--header-background-color);
    color: var(--black);
    margin-top: 4rem;
    padding: 30px 0;
    text-align: center;
}

#chronology-header h1 {
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
}

#chronology {
    background: var(--body-background-color);
    padding: 2rem 0 3rem 0;
}

#chronology a {
    color: var(--box-text-color);
    font-weight: bold;
}

#chronology a:hover {
    color: var(--red);
}

.timeline {
    width: 0.375rem;
    margin: 0 auto 0 1rem;
    padding-top: 3rem;
    background: #f4ac41;
    display: flex;
    flex-direction: column;
}

#chronology ul li {
    list-style: none;
}

.timeline::after {
    content: '';
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    border: none;
    background: var(--red);
    /* transition: background 0.5s ease-in-out; */
}

.timeline::after {
    content: '';
    align-self: center;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: none;
    background: var(--red);
    /* transition: background 0.5s ease-in-out; */
}

.time-block {
    position: relative;
    width: 70vw;
    padding: 1rem;
    margin-left: 2.25rem;
    background: var(--box-color);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.time-block::before {
    content: '';
    position: absolute;
    left: -1rem;
    bottom: -0.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5rem 1.75rem 0.5rem 0;
    border-color: transparent var(--box-color) transparent transparent;
    transform: rotate(330deg)
}

#chronology .timeline:nth-child(even) .time-block::before {
    border-color: transparent var(--box-color) transparent transparent;
}

@media (min-width: 768px) {
    .timeline {
        margin: 0 auto;
    }

    .time-block {
        width: 37vw;
        margin-left: 2rem;
    }

    #chronology .timeline:nth-child(odd) .time-block {
        align-self: flex-end;
        margin-right: 2rem;
    }

    #chronology .timeline:nth-child(odd) .time-block::before {
        left: 97.5%;
        border-width: 0.5rem 0 0.5rem 1.75rem;
        border-color: transparent transparent transparent var(--box-color);
        transform: rotate(30deg)
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }

    .page-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .time-block {
        width: 25rem;
    }
}


